{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'merci/styles.css' %}">
</head>
<body>

<div class="container">
    <nav>
        <a href="/">Accueil</a> |
        <a href="/contact/">Contact</a> |
        <a href="/messages/">Messages</a>
    </nav>

    <hr>

    <h1>Bienvenue sur mon site !</h1>
    <p>Car Dieu a tant aimé le monde qu’il a donné son Fils unique, afin que quiconque croit en lui ne périsse point, mais qu’il ait la vie éternelle.</p>

    <img src="{% static 'merci/images/donal.jpg' %}" alt="Ma photo" width="300">
</div>

</body>
</html>